{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/logog.png' %}" height="70px" width="70px">
        </div>
        <div class="sidebar-brand-text ml-1">SHAJAH CO-OPERATIVE</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecenters"
        aria-expanded="true" aria-controls="collapsecenters">
        <i class="fas fa-fw fa-cog"></i>
        <span>Branch & Center Details</span>
    </a>
    <div id="collapsecenters" class="collapse" aria-labelledby="headingcenters" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'view_branch' %}">Branch Setup</a>
                <a class="collapse-item" href="{% url 'view_center' %}">Center Setup</a>
                <a class="collapse-item" href="{% url 'view_group' %}">Group Setup</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-user-alt"></i>
        <span>Members</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'member_entry' %}">Member Add</a>
                <a class="collapse-item" href="{% url 'member_view' %}">Member View</a>
                <a class="collapse-item" href="{% url 'search_box' %}">member Details</a>
                <a class="collapse-item" href="#">Member Transfer</a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Transictions</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Transiction Entry</a>
                <a class="collapse-item" href="#">Approved</a>
                <a class="collapse-item" href="#">View Transiction</a>
                
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Credit</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Loan Request</a>
                <a class="collapse-item" href="#">Loan Approved</a>
                <a class="collapse-item" href="#">Loan Disbursement</a>
                <a class="collapse-item" href="#">Loan Transfer</a>
                <a class="collapse-item" href="#">Loan Details</a>
                <a class="collapse-item" href="#">Overdue Loan</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsevourchers"
            aria-expanded="true" aria-controls="collapsevourchers">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Vouchers</span>
        </a>
    <div id="collapsevourchers" class="collapse" aria-labelledby="headingvourchers"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Voucher Entry</a>
                <a class="collapse-item" href="#">Approved</a>
                <a class="collapse-item" href="#">View Voucher</a>
                
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsereports"
            aria-expanded="true" aria-controls="collapsereports">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Report</span>
        </a>
    <div id="collapsereports" class="collapse" aria-labelledby="headingreports"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Trail Balance</a>
                <a class="collapse-item" href="#">Balance Sheet</a>
                <a class="collapse-item" href="#">Profil & Loss</a>
                <a class="collapse-item" href="#">Bank Transiction</a>
                <a class="collapse-item" href="#">Cash Balance</a>
                <a class="collapse-item" href="#">Trail Ladger</a>
                <a class="collapse-item" href="#">Day Book</a>
                
            </div>
        </div>
    </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'staff_views' %}">
            <i class="fas fa-user-alt"></i>
            <span>User Staff</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    {% comment %} <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div> {% endcomment %}

</ul>